:root {
  --white: #ffffff;
  --light-grey: #d3d3d3;
  --dark-grey: #686868;
  --black: #000000;
  --blue: cyan;
  --red: red;

  /* default */
  --primary: var(--white);
  --secondary: var(--light-grey);
  --highlight: var(--blue);
}

.cool {
  --primary: var(--white);
  --secondary: var(--light-grey);
  --highlight: var(--blue);
}

.warm {
  --primary: var(--dark-grey);
  --secondary: var(--black);
  --highlight: var(--red);
}

.hero {
  background-color: var(--primary);
}

.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--secondary); 
}

.item {
  text-align: center;
  background-color: var(--secondary);
  margin: 40px;
  border: 5px solid var(--primary);
  width: 18%;
  box-shadow: 0px 0px 30px var(--highlight);
  padding: 20px;
}

.item-image {
    width: 300px;
    height: 300px;
    border: 5px solid var(--primary);
    background-color: white;
}

.item-buy {
    background-color: var(--primary);
    width: 300px;
    height: 75px;
    font-size: xx-large;
    font-family: "Comic Relief", system-ui;
}

.item-price {
    font-size: large;
    color: var(--primary);
}

.item-description {
  color: var(--primary);
}

.item-title {
    font-size: x-large;
    color: var(--primary);
}

.item-class {
    font-size:medium;
    color: var(--primary);
}

.blurb {
  background-color: var(--secondary);
  border-color: var(--primary);
}
.blurb-author{
  color: var(--primary);
}
.blurb-text{
  width: auto;
  color: var(--primary);
}

.blurb-image {
  height: 500px;
  border: 5px solid var(--primary);
}

.art-of-day-image {
  height: 500px;
}